:root{
  --gray-50: hsl(0, 0%, 90%);
  --gray-100: hsl(0, 0%, 75%);
  --gray-200: hsl(0, 0%, 60%);
  --gray-300: hsl(0, 0%, 55%);
  --gray-400: hsl(0, 0%, 50%);
  --gray-500: hsl(0, 0%, 45%);
  --gray-600: hsl(0, 0%, 35%);
  --gray-700: hsl(0, 0%, 25%);
  --gray-800: hsl(0, 0%, 15%);
  --gray-900: hsl(0, 0%, 10%);
  --gray-950: hsl(0,0%,7.1%);
  --gray-1000: hsl(0, 0%, 5%);

  --transition-duration: 200ms;
}
body{
  height: 100%;
}
.main_container {
  max-width: 80vw;
  height: 100%;
  margin-left: 320px;
  display: flex;
  flex-direction: column;
}

.header_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 10px;
  border-radius: 8px;
  background-color: var(--gray-950);
  padding: 12px;
  overflow: hidden;
}

.header_navigation .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_navigation .navigation .arrow_left {
  margin-right: 1.25rem;
}

.arrow_left,
.arrow_right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: var(--bg-icon);
  background-color: var(--bg-arrow-color);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 200ms ease ;
}
.arrow_right:hover{
  transform: scale(1.1);
  background-color: hsl(0, 0%, 28%);
}
.arrow_left:hover{
  transform: scale(1.1);
  background-color: hsl(0, 0%, 28%);
}

.header_login {
  display: flex;
  align-items: center;
}

.header_search {
  display: flex;
  align-items: center;
  width: 364px;
  height: 48px;
  margin-left: 8px;
  background-color: #242424;
  border-radius: 500px;
  border: 1px solid transparent;
  transition: all 200ms ease ;
}

.header_search:hover{
  transform:scale(1.1);
}

.header_search img {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.header_search input {
  background: transparent;
  border: none;
  padding: 0px 100px 0 12px;
  color: #fff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
}

.header_login .subscribe {
  color: #a7a7a7;
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  margin-right: 32px;
  border: none;
  transition: all 200ms ease ;
  cursor: pointer;
}

.header_login .subscribe:hover{
  transform: scale(1.1);
  color: hsl(141, 75%, 50%);
}

.header_login .login {
  width: 100px;
  height: 48px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  transition: 0.8s;
  transition: all 200ms ease ;
}

.header_login .login:hover {
  transform: scale(1.1);
  background-color: hsl(141, 75%, 50%);
}

/*Parte principal*/
.main_spotify{
  display: flex;
  background-color: var(--box-color);
  border-radius: 8px;
  margin: 10px;
  padding: 12px;
  height: 100%-85px;
  overflow: hidden;
  flex-direction: column;
  gap: 40px;
}

.item-list{
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.item-list__header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: baseline;
  color: #fff;
  font-family: var(--font-dm-sans);
  width: 100%;
  box-sizing: border-box;
}

.item-list__header a{
  text-decoration: none;
  color: #fff;
}

.item-list__header a:hover{
  text-decoration: underline;
}

.item-list__header h2{
  font-weight: bold;
  font-size: 20px;
}

img{
  max-width:100%
}
/*Single-item*/

.single-item{
  padding: 25px 16px;
  color: #fff;
  font-family: var(--font-dm-sans);
  cursor: pointer;
  gap: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  transition: background-color ease var(--transition-duration);
  text-decoration: none;
}

.single-item:hover {
  background-color: var(--gray-900);
}
.single-item:hover .single-item__2lines{

  -webkit-line-clamp: 10;
  line-clamp: 10;
}

.single-item__div-img{
  display: flex;
  height: 140px;
  width: 140px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.single-item_div-image-button{
  position: relative;
}

.single-item__icon{
  color: var(--gray-800);
  position: absolute;
  right: 7.5px;
  bottom: 7.5px;
  font-size: 50px;
  transform: translateY(100%);
  opacity: 0;
  transition-timing-function: ease;
  transition-duration: 0.2s;
  transition-property: opacity, transform;
}

.single-item__icon--artist{
  opacity: 1;
  translate: 0;
  position: fixed;
  right: 38px;
  bottom: 18px;
  color: var(--gray-800);
  transform: translateY(0%);
  transition: all 200ms ease;
}

.single-item__icon--artist:hover{
  transform: scale(1.1);
  color: hsl(141deg, 75%, 50%);
  cursor: pointer;
  filter: drop-shadow(0 0px 5px hsl(141deg, 75%, 50%));
}

.single-item:hover .single-item__icon{
  opacity: 1;
  transform: translateY(0);
}



.item-list__container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(172px,1fr));
}

.single-item__title{
  font-size: 16px;
  font-weight: 600;
}

.single-item__type{
  font-size: 13px;

}

.single-item__texts{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.single-item__2lines{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: 0.3s ease;
}

/* Artist */

.artist{
  color: #fff;
  border-radius: 15px;
  margin: 10px;
  overflow: hidden;
}


.artist__header{
  --_shade: hsl(0, 0%, 0%, 0.25);


  background-image: linear-gradient(to bottom, var(--_shade), var(--_shade)), url(https://www.hashtagtreinamentos.com/wp-content/uploads/2025/02/mc-tuto.png);
  height: 40svh;
  background-size: cover;
  background-position-y: 20%;
  padding: 25px;
  display: flex;
  align-items: end;
}

.artist__title{
  font-size: 96px;
  font-weight: 600;
}

.artist__body{
  padding: 39px 25px;
  background-color: var(--box-color);
  display: flex;
  flex-direction: column;
  gap: 25px;
  
}
.artist__body h2{
  font-size: 30px;
  font-weight: 500;
}

.song-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
  transition: all 0.5s ease-in;
}

.song-item:hover {
  text-decoration: none;
  background: linear-gradient(to right, var(--gray-950), var(--gray-800));
}

.song-item__album p:hover{
  text-decoration: underline;
}
.song-item__image{
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.song-item__number__album{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.song-item__album{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.song-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.song-list__see-more{
  font-weight: 700;
  text-decoration: none;
  margin-left: 25px;
  margin-top: 20px;
  color: #fff;
}

.song-list__see-more:hover{
  text-decoration: underline;
}


/* Song */

.song{
  flex: 1;
  color: #fff;
  display: grid;
  grid-template-rows: 1fr auto;
}

.song__container{
  background-color: var(--box-color);
  margin: 10px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.song__image-container{
  box-shadow: 0px 0px 25px 15px hsl(0deg 0% 0%/25%);
}

.song__bar{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  place-items: center;
  margin: px;
  background-color: black;
  padding: 16px 25px;
  border-radius: 8px;
}

.song__artist-image{
  justify-self: flex-start;
  border-radius: 5px;
  overflow: hidden;
}

.song__name{
  font-size: 19px;
  font-weight: 700;
}

.player{
  justify-self: stretch;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.player__controllers{
  font-size: 25px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.player__icon{
  color: #fff;
  cursor: pointer;
  transition-property: transform, color;
  transition-timing-function: ease;
  transition-duration: var(--transition-duration);
}

.player__icon:hover{
  transform: scale(105%);
  color: hsl(141deg, 75%, 50%);
  box-shadow: 0 0 10px 10px hsl(0deg 0% 0%/25%);
}

.player__icon--play{
  font-size: 35px;
}

.player__progress{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 600px;
}

.player__time{
  width: 45px;
  text-align: center;
}

.player__bar{
  width: 100%;
  height: 4px;
  background-color: #666;
  border-radius: 5px;
  overflow: hidden;
}

.player__bar-progress{
  --_progress: 0;
  height: 100%;
  width: var(--_progress);
  background-color: #fff;
  transition: width ease 200ms;
}